@media only screen and (max-width: 700px) {

    /*главная страница*/
    .wrapper-block {
        padding: 0 10px;
    }

    .header {
        padding: 10px;
    }
    .header-logo-tower {
        height: 35px;
        width: 35px;
    }
    .header-logo-city {
        width: 100px;
    }    
    .header-nav {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.644);      
        padding: 10px 0;
        display: block;
    }
    .header-nav a {
        display: block;
        padding: 10px;
    }
    .header-menu-btn {
        display: block;
        height: 20px;
        width: 20px;
    }

    .top-background-text {
        margin-top: 60px;
    }
    .top-background-text h1 {
        margin-top: 0;
    }
   
    .top-background-btn {
        margin-top: 10px;
        padding: 5px 15px;
        border-radius: 3px;
    }

    .top-slider-btn {
        width: 25px;
        height: 25px;
        top: 50%;
    }
    .top-slider-right-btn {
        right: 2vh;
    }
    .top-slider-right-btn:before {
        width: 5px;
        height: 9px;
        top: 32%;
        left: 40%;  
    }
    .top-slider-left-btn {
        left: 2vh;
    }
    .top-slider-left-btn:before {
        width: 5px;
        height: 9px;
        top: 32%;
        left: 40%;  
    }

    .about {
        margin: 5px;
    }

    .about-item-blocks {
        margin: 0 5px;
        width: 100%;
    }
    .about-block-item {
        height: 100px;
        max-width: 40px;
        min-width: 40px;
        margin-right: 5px;
    }

    .info-blocks-text {
        padding: 10px;
    }

    .info-blocks-text-btn {
        margin-top: 0;
        padding: 5px 15px;
        border-radius: 3px;
    }    

    .photo-blocks-item {
        min-height: 75px;
    }

    .bottom-slider-line-item {
        min-height: 100px;
    }
    .bottom-slider-line-item-block-1 {
        padding: 10px 40px;
    }
    .bottom-slider-line-item-block-user {
        margin-top: 10px;
    }
    .bottom-slider-line-block-text {
        height: 90px;
    }
    .bottom-slider-btn {
        width: 25px;
        height: 25px;
        top: 50%;
    }
    .bottom-slider-right-btn {
        right: 1vh;
    }
    .bottom-slider-right-btn:before {
        width: 5px;
        height: 9px;
        top: 32%;
        left: 40%;  
    }
    .bottom-slider-left-btn {
        left: 1vh;
    }
    .bottom-slider-left-btn:before {
        width: 5px;
        height: 9px;
        top: 32%;
        left: 40%;  
    }

    .footer-blocks {
        padding: 0 10px;
    }
 
    .footer-blocks-item-logo-tower {
        height: 35px;
        width: 35px;
    }
    .footer-blocks-item-logo-city {
        width: 100px;
    }
    .footer-blocks-item{
        padding-bottom: 0;
    } 
    .footer-blocks-item-p {
        padding-right: 0;
    }

    .footer-bottom {
        padding: 0;
    }

    .footer-bottom-blocks-item-social-logo {
        height: 15px;
        width: 15px;
        margin: 5px;
        margin: 3px;
    }
    /*конец главной страницы*/

    /*страница trips*/
    /*конец страницы trips*/

    /*страница contacts*/
    .contacts-info-blocks {
        width: 100%;
        margin-top: 20px;
    }
    .contacts-blocks {
        width: 100%;
    }
    /*конец страницы contacts*/
}

@media (min-width: 701px) and (max-width:1000px) {

}

@media (min-width: 1001px) {
 
}