@import url(/css/normalize.css);

@font-face {
    src: url(/fonts/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}

body {
    font-family: 'Roboto-Regular';
}

/*фон верхней части главной страницы*/
/*фиксированный header
.top-background {
    background: url(/images/images_page1/photos/top.jpg) center center / cover no-repeat;
    height: 560px;
}*/

/*блок фон верхней части главной страницы и наполнение фона*/
.top-background {   
    background: gray;
    min-height: 560px;
    min-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;       
}

.about-text p {
    text-align: left;
}

.top-background-text {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
}

.top-background-text h1 {
    font-size: 60px;
}

.top-background-text p {
    font-size: 25px;
    margin: 5px 0;
}

.top-background-text-font-weight {
    font-weight: 600;
}

.top-background-btn {
    color: white;
    text-transform: uppercase;
    margin-top: 60px;
    padding: 20px 40px;
    background: rgb(112, 157, 202);
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
}

/*блок слайдер*/
.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.top-slider {
    position: relative;
    overflow: hidden;
}

.top-slider-line {
    display: flex;
    left: 0;
    position: relative;
}

.top-slider-line-item {
    min-height: 560px;
    min-width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-slider-line-item:nth-child(1),
.top-slider-line-item:nth-last-child(1) {
    background: url(/images/images_page1/slides/top.jpg) center center / cover no-repeat;
}

.top-slider-line-item:nth-child(2) {
    background: url(/images/images_page1/slides/top_1.jpg) center center / cover no-repeat;
}

.top-slider-line-item:nth-child(3) {
    background: url(/images/images_page1/slides/top_2.jpg) center center / cover no-repeat;
}

.top-slider-line-item:nth-child(4) {
    background: url(/images/images_page1/slides/top_3.jpg) center center / cover no-repeat;
}

.top-slider-btn {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 2;
}

.top-slider-right-btn {
    background: url(/images/images_page1/slides/round.png) center center / cover no-repeat;
    right: 10vh;
}
.top-slider-right-btn:before {
    content: "";
    background: url(/images/images_page1/slides/arrow-right.png) center center / cover no-repeat;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 32%;
    left: 38%;  
}

.top-slider-left-btn {
    background: url(/images/images_page1/slides/round.png) center center / cover no-repeat;
    left: 10vh;
}
.top-slider-left-btn:before {
    content: "";
    background: url(/images/images_page1/slides/arrow-left.png) center center / cover no-repeat;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 32%;
    left: 38%;
}

/*блок wrapper*/
.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;  
    z-index: 1;
    padding: 0 20px;
}

/*header*/
/*фиксированный header
.header {
    color: white;
    position: fixed;
    max-width: 1500px;
    min-width: 1000px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;    
    padding: 21px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

/*блок header*/
.header {
    color: white;
    position: absolute;
    max-width: 1500px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;    
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.header-logo-tower {
    background: url(/images/images_page1/icons/spasskaya-tower.png) center center / contain no-repeat;
    height: 63px;
    width: 63px;
    margin-right: 18px;
}

.header-logo-city {
    background: url(/images/images_page1/icons/MyMoscow.png) center center / contain no-repeat; 
    height: 35px;
    width: 189px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 545px;
    font-size: 14.5px;
}

.header-nav a {
    color: white;
    text-decoration: none;
}

.header-menu-btn {
    background: url(/images/images_page1/icons/menu-btn.svg) center center / contain no-repeat;
    height: 35px;
    width: 35px;
    display: none;
    z-index: 1;
}

.header-menu-close-btn {
    background: url(/images/images_page1/icons/close.svg) center center / contain no-repeat;
    position: fixed;
    height: 15px;
    width: 15px;
    top: 20px;
    right: 12px;
    display: none;
}

.wrapper-block {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

/*блок about*/
.about {
    text-align: center;
    margin: 50px 0;
}

.about h2 {
    color: rgb(112, 157, 202);
    /*text-transform: uppercase;*/
    font-size: 36px;
}

.about p {
    color: rgb(57, 75, 81);
    font-size: 24px;
}

.about-item {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
}

.about-item-blocks {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 16px;
    box-sizing: border-box;
    /*flex-grow: 1;
    flex-basis: 400px;*/
}

.about-block-item {
    height: 150px;
    max-width: 75px;
    min-width: 75px;
    margin-right: 10px;
}

.about-block-logo-map {
    background: url(/images/images_page1/icons/map.png) center center/ contain no-repeat;
}

.about-block-logo-souvenir {
    background: url(/images/images_page1/icons/souvenir.png) center center / contain no-repeat; 
}

.about-block-logo-compass {
    background: url(/images/images_page1/icons/compass.png) center center / contain no-repeat; 
}

.about-block-logo-picture {
    background: url(/images/images_page1/icons/picture.png) center center / contain no-repeat; 
}

.about-block-logo-discussion {
    background: url(/images/images_page1/icons/discussion.png) center center / contain no-repeat; 
}

.about-block-logo-sun {
    background: url(/images/images_page1/icons/sun.png) center center / contain no-repeat; 
}

.about-block-text h3 {
    color: rgb(57, 75, 81);
    text-transform: uppercase;
    font-size: 16px;
}

.about-block-text p {
    color: rgb(123, 123, 123);
    font-size: 13px;
    line-height: 15px;
}

/*блок info*/
.info {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 193, 85);
}

.info-revers {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: rgb(255, 193, 85);
}

.info-blocks {
    align-items: center;
    flex-grow: 1;
    flex-basis: 430px;
}

.info-blocks-background {
    background: url(/images/images_page1/photos/group.jpg) center center / cover no-repeat;
    min-height: 300px;
    width: 100%;
}

.info-blocks-text {
    padding: 40px 40px 40px 80px;
    box-sizing: border-box;
    color: white;
}

.info-blocks-text h2 {
    font-size: 26px;
    /*text-transform: uppercase;*/
}

.info-blocks-text-btn {
    background: rgb(243, 175, 55);
    border: 1px solid rgb(255, 163, 0);
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
}

/*блок photo-blocks*/

.photo-blocks {
    display: flex;
    flex-wrap: wrap;
}

.photo-blocks-item {
    min-height: 285px;
    width: 25%;
}

.photo-blocks-item:nth-child(1) {
    background: url(/images/images_page1/photos/1.jpg) center center/ cover no-repeat;
}
.photo-blocks-item:nth-child(2) {
    background: url(/images/images_page1/photos/2.jpg) center center/ cover no-repeat;
}
.photo-blocks-item:nth-child(3) {
    background: url(/images/images_page1/photos/3.jpg) center center/ cover no-repeat;
}
.photo-blocks-item:nth-child(4) {
    background: url(/images/images_page1/photos/4.jpg) center center/ cover no-repeat;
}
.photo-blocks-item:nth-child(5) {
    background: url(/images/images_page1/photos/5.jpg) center center/ cover no-repeat;
}
.photo-blocks-item:nth-child(6) {
    background: url(/images/images_page1/photos/6.jpg) center center/ cover no-repeat;
}
.photo-blocks-item:nth-child(7) {
    background: url(/images/images_page1/photos/7.jpg) center center/ cover no-repeat;
}
.photo-blocks-item:nth-child(8) {
    background: url(/images/images_page1/photos/8.jpg) center center/ cover no-repeat;
}

/*блок bottom-slider*/
.bottom-slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.bottom-slider-line {
    display: flex;
    left: 0;
    position: relative;
}

.bottom-slider-line-item {
    min-height: 350px;
    min-width: 50%;    
    display: flex;
    flex-wrap: wrap;

}

.bottom-slider-line-item-block {
    width: 100%;
    flex-grow: 1;
    flex-basis: 430px;
}

.bottom-slider-line-item-block p {
    margin: 0;
    font-size: 18px;
}

.bottom-slider-line-block-text {
    height: 150px;
    overflow: hidden;
    text-align: left;
    font-style: italic;
}

.bottom-slider-line-item-block-user {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.bottom-slider-line-item-block-user-item {
    height: 43px;
    width: 43px;
    margin-right: 10px;
}

.bottom-slider-line-item-block-1 {
    padding: 60px;
    box-sizing: border-box;
}

.bottom-slider-line-item-block-user-1 {
    background: url(/images/images_page1/testimonials/test1.jpg) center center / contain no-repeat;
}

.bottom-slider-line-item-block-2 {
    padding: 60px;
    box-sizing: border-box;
}

.bottom-slider-line-item-block-user-2 {
    background: url(/images/images_page1/testimonials/test2.jpg) center center / contain no-repeat;
}

.bottom-slider-btn {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 2;
}

.bottom-slider-right-btn {
    background: url(/images/images_page1/slides/round.png) center center / cover no-repeat;
    right: 5vh;
}
.bottom-slider-right-btn:before {
    content: "";
    background: url(/images/images_page1/slides/arrow-right.png) center center / cover no-repeat;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 32%;
    left: 38%;  
}

.bottom-slider-left-btn {
    background: url(/images/images_page1/slides/round.png) center center / cover no-repeat;
    left: 5vh;
}
.bottom-slider-left-btn:before {
    content: "";
    background: url(/images/images_page1/slides/arrow-left.png) center center / cover no-repeat;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 32%;
    left: 38%;
}

/*блок footer*/
.footer {
    background: rgb(39, 58, 67);
    min-height: 352px;
}

.footer-blocks {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 65px 20px 30px 20px;
}

.footer-blocks-item {
    padding: 10px 0;
    flex-grow: 1;
    flex-basis: 350px;
    box-sizing: border-box;
}

.footer-blocks-item h2 {
    margin-top: 0;
}

.footer-blocks-item-logo {
    display: flex;
    align-items: center;
}

.footer-blocks-item-p {
    padding-right: 130px;
}

.footer-blocks-item-logo-tower {
    background: url(/images/images_page1/icons/spasskaya-tower.png) center center / contain no-repeat;
    height: 37px;
    width: 37px;
    margin-right: 10px;
}

.footer-blocks-item-logo-city {
    background: url(/images/images_page1/icons/MyMoscow.png) center center / contain no-repeat; 
    height: 21px;
    width: 111px;
}

.footer-blocks-item-contacts {
    display: flex;
    align-items: center;
}

.footer-blocks-item-contacts-logo {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.footer-blocks-item-contacts-logo-placeholder {
    background: url(/images/images_page1/icons/placeholder.png) center center / contain no-repeat;
}
.footer-blocks-item-contacts-logo-mail {
    background: url(/images/images_page1/icons/mail.png) center center / contain no-repeat;
}
.footer-blocks-item-contacts-logo-telephone {
    background: url(/images/images_page1/icons/telephone.png) center center / contain no-repeat;
}

.footer-blocks-item-news-date {
    color: rgb(113, 182, 213);
}

/*блок footer-bottom*/
.footer-bottom {
    background: rgb(23, 34, 39);
    padding: 30px 0;
    box-sizing: border-box;
}

.footer-bottom-blocks {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom-blocks-item-social {
    display: flex;
}

.footer-bottom-blocks-item-social-logo {
    height: 31px;
    width: 31px;
    margin: 5px;
}

.footer-bottom-blocks-item-social-logo:nth-child(1) {
    background: url(/images/images_page1/social/vk.png) center center / contain no-repeat;
}
.footer-bottom-blocks-item-social-logo:nth-child(2) {
    background: url(/images/images_page1/social/facebook.png) center center / contain no-repeat;
}
.footer-bottom-blocks-item-social-logo:nth-child(3) {
    background: url(/images/images_page1/social/instagram.png) center center / contain no-repeat;
}

/*страница trips*/
.top-background-trips {
    background: url(../images/images_trips/top1.png) center center / cover no-repeat;
}

.trips-photo-item {
    min-height: 300px;
}

.trips-photo-moscow-sity {
    background: url(../images/images_trips/moscow-sity.jpg) center center / cover no-repeat;
    min-height: 300px;
}
.trips-photo-stalinist-skyscrapers {
    background: url(../images/images_trips/stalinist-skyscrapers.jpg) center center / cover no-repeat;
    min-height: 300px;
}
.trips-photo-master-and-margarita {
    background: url(../images/images_trips/master-and-margarita.jpg) center center / cover no-repeat;
    min-height: 300px;
}
.trips-photo-metro {
    background: url(../images/images_trips/metro.jpg) center center / cover no-repeat;
    min-height: 300px;
}
/*конец страницы trips*/

/*страница contacts*/
.top-background-contacts {
    background: url(../images/images_contacts/top2.png) center center / cover no-repeat;
}

.contacts-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts-info-blocks {
    background: rgb(255, 193, 85);
    display: flex;
    width: 48%;
    /*flex-grow: 1;
    flex-basis: 400px;*/
}

.contacts-info-blocks-photo-man {
    background: url(../images/images_contacts/man.jpg) center center / cover no-repeat;
    min-height: 200px;
    width: 40%;
}

.contacts-info-blocks-photo-woman {
    background: url(../images/images_contacts/woman.jpg) center center / cover no-repeat;
    min-height: 200px;
    width: 40%;
}

.contacts-info-blocks-text {
    color: rgb(6, 32, 51);
    padding: 30px;
    box-sizing: border-box;
    width: 60%;
}

.contacts-info-blocks-text h3 {
    font-size: 24px;
    margin-top: 0;
}

.contacts-info-blocks-text p {
    font-size: 18px;
}

.contacts-info-blocks-text a {
    text-decoration: none;
    color: rgb(0, 102, 255);
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 65px 0;
}

.contacts-blocks {
    width: 48%;
    color: rgb(6, 32, 51);
    font-size: 22px;
}

.contacts-blocks h4 {
    font-weight: inherit;
}

.contacts-blocks-item {
    display: flex;
    align-items: center;
}

.contacts-blocks-item-logo {
    min-height: 45px;
    min-width: 45px;
    margin-right: 30px;
}

/*форма отправки сообщения*/
.form-item {
    margin-bottom: 16px;
}

[type="text"],
[type="email"],
textarea {
    border: 3px solid rgb(255, 193, 85);
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

[type="submit"] {
    background: rgb(6, 32, 51);
    padding: 12px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    width: 100%;
}

.map {
    height: 570px;
}
/*конец страницы contacts*/