@import url(normalize.css);

@font-face {
    src: url(/fonts/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}

body {
    font-family: 'Roboto-Regular';
}

/*фон верхней части главной страницы*/
/*фиксированный header
.top-background {
    background: url(/images/images_page1/photos/top.jpg) center center / cover no-repeat;
    height: 560px;
}*/

/*блок фон верхней части главной страницы и наполнение фона*/
.top-background {    
    min-height: 560px;
    min-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.top-background-text {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
}

.top-background-text h1 {
    font-size: 60px;
}

.top-background-text p {
    font-size: 25px;
    margin: 5px 0;
}

.top-background-text-font-weight {
    font-weight: 600;
}

.top-background-btn {
    color: white;
    text-transform: uppercase;
    margin-top: 60px;
    padding: 18px 39px;
    background: rgb(112, 157, 202);
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
}

/*блок слайдер*/
.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.top-slider {
    position: relative;
    overflow: hidden;
}

.top-slider-line {
    display: flex;
    left: 0;
    position: relative;
}

.top-slider-line-item {
    min-height: 560px;
    min-width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-slider-line-item:nth-child(1),
.top-slider-line-item:nth-last-child(1) {
    background: url(/images/images_page1/slides/top.png) center center / cover no-repeat;
}

.top-slider-line-item:nth-child(2) {
    background: url(/images/images_page1/slides/top_1.jpg) center center / cover no-repeat;
}

.top-slider-line-item:nth-child(3) {
    background: url(/images/images_page1/slides/top_2.jpg) center center / cover no-repeat;
}

.top-slider-line-item:nth-child(4) {
    background: url(/images/images_page1/slides/top_3.jpg) center center / cover no-repeat;
}

.top-slider-btn {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 2;
}

.top-slider-right-btn {
    background: url(/images/images_page1/slides/round.png) center center / cover no-repeat;
    right: 10vh;
}
.top-slider-right-btn:before {
    content: "";
    background: url(/images/images_page1/slides/arrow-right.png) center center / cover no-repeat;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 32%;
    left: 38%;  
}

.top-slider-left-btn {
    background: url(/images/images_page1/slides/round.png) center center / cover no-repeat;
    left: 10vh;
}
.top-slider-left-btn:before {
    content: "";
    background: url(/images/images_page1/slides/arrow-left.png) center center / cover no-repeat;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 32%;
    left: 38%;
}

/*блок wrapper*/
.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;  
    z-index: 1;
}

/*header*/
/*фиксированный header
.header {
    color: white;
    position: fixed;
    max-width: 1500px;
    min-width: 1000px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;    
    padding: 21px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

/*блок header*/
.header {
    color: white;
    position: absolute;
    max-width: 1500px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;    
    padding: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.header-logo-tower {
    background: url(/images/images_page1/icons/spasskaya-tower.png) center center / contain no-repeat;
    height: 63px;
    width: 63px;
    margin-right: 18px;
}

.header-logo-city {
    background: url(/images/images_page1/icons/MyMoscow.png);
    height: 35px;
    width: 189px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 545px;
    font-size: 14.5px;
}

.header-nav a {
    color: white;
    text-decoration: none;
}

/*блок about*/
.about {
    text-align: center;
    margin: 50px 0;
}

.about h2 {
    color: rgb(112, 157, 202);
    text-transform: uppercase;
    font-size: 36px;
}

.about p {
    color: rgb(57, 75, 81);
    font-size: 24px;
}

.about-item {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
}

.about-item-blocks {
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    align-items: center;
    margin: 16px;
}

.about-block-item {
    height: 150px;
    max-width: 75px;
    min-width: 75px;
    margin-right: 10px;
}

.about-block-logo-map {
    background: url(/images/images_page1/icons/map.png) center / contain no-repeat;
}

.about-block-logo-souvenir {
    background: url(/images/images_page1/icons/souvenir.png) center / contain no-repeat; 
}

.about-block-logo-compass {
    background: url(/images/images_page1/icons/compass.png) center / contain no-repeat; 
}

.about-block-logo-picture {
    background: url(/images/images_page1/icons/picture.png) center / contain no-repeat; 
}

.about-block-logo-discussion {
    background: url(/images/images_page1/icons/discussion.png) center / contain no-repeat; 
}

.about-block-logo-sun {
    background: url(/images/images_page1/icons/sun.png) center / contain no-repeat; 
}

.about-block-text h3 {
    color: rgb(57, 75, 81);
    text-transform: uppercase;
    font-size: 16px;
}

.about-block-text p {
    color: rgb(123, 123, 123);
    font-size: 13px;
    line-height: 15px;
}

/*блок info*/
.info {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 193, 85);
}

.info-blocks {
    align-items: center;
    flex-grow: 1;
    flex-basis: 430px;
}

.info-blocks-background {
    background: url(/images/images_page1/photos/group.jpg) center center / cover no-repeat;
    min-height: 100%;
    width: 100%;
}

.info-blocks-text {
    padding: 40px 40px 40px 80px;
    box-sizing: border-box;
    color: white;
}

.info-blocks-text h3 {
    font-size: 26px;
    text-transform: uppercase;
}

.info-blocks-text-btn {
    background: rgb(243, 175, 55);
    border: 1px solid rgb(255, 163, 0);
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
}

/*блок photo*/
.photo {
    display: flex;
}

.photo-blocks {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 25%;
}

.photo-blocks-item-block-1,
.photo-blocks-item-block-2 {
    min-height: 285px;
    width: 100%;
}

.photo-blocks-item-block-1:nth-child(1) {
    background: url(/images/images_page1/photos/1.jpg) center center/ cover no-repeat;
}
.photo-blocks-item-block-1:nth-child(2) {
    background: url(/images/images_page1/photos/2.jpg) center center/ cover no-repeat;
}
.photo-blocks-item-block-1:nth-child(3) {
    background: url(/images/images_page1/photos/3.jpg) center center/ cover no-repeat;
}
.photo-blocks-item-block-1:nth-child(4) {
    background: url(/images/images_page1/photos/4.jpg) center center/ cover no-repeat;
}

.photo-blocks-item-block-2:nth-child(1) {
    background: url(/images/images_page1/photos/5.jpg) center center/ cover no-repeat;
}
.photo-blocks-item-block-2:nth-child(2) {
    background: url(/images/images_page1/photos/6.jpg) center center/ cover no-repeat;
}
.photo-blocks-item-block-2:nth-child(3) {
    background: url(/images/images_page1/photos/7.jpg) center center/ cover no-repeat;
}
.photo-blocks-item-block-2:nth-child(4) {
    background: url(/images/images_page1/photos/8.jpg) center center/ cover no-repeat;
}

/*блок bottom-slider*/
.bottom-slider {
    position: relative;
    min-width: 100%;
    overflow: hidden;
}

.bottom-slider-line {
    display: flex;
    left: 0;
    position: relative;
}

.bottom-slider-line-item {
    min-height: 350px;
    min-width: 100%;    
    display: flex;
    flex-wrap: wrap;
}

.bottom-slider-line-item-block {
    width: 100%;
    flex-grow: 1;
    flex-basis: 430px;
}

.bottom-slider-line-item-block p {
    margin: 0;
}

.bottom-slider-line-block-text {
    height: 150px;
    overflow: hidden;
}

.bottom-slider-line-item-block-user {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.bottom-slider-line-item-block-user-item {
    height: 43px;
    width: 43px;
    margin-right: 10px;
}

.bottom-slider-line-item-block-1 {
    padding: 60px 60px 60px 100px;
    box-sizing: border-box;
}

.bottom-slider-line-item-block-user-1 {
    background: url(/images/images_page1/testimonials/test1.jpg) left center / contain no-repeat;
}

.bottom-slider-line-item-block-2 {
    padding: 60px 100px 60px 60px;
    box-sizing: border-box;
}

.bottom-slider-line-item-block-user-2 {
    background: url(/images/images_page1/testimonials/test2.jpg) left center / contain no-repeat;
}

.bottom-slider-btn {
    width: 43px;
    height: 43px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 2;
}

.bottom-slider-right-btn {
    background: url(/images/images_page1/slides/round.png) center center / cover no-repeat;
    right: 5vh;
}
.bottom-slider-right-btn:before {
    content: "";
    background: url(/images/images_page1/slides/arrow-right.png) center center / cover no-repeat;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 32%;
    left: 38%;  
}

.bottom-slider-left-btn {
    background: url(/images/images_page1/slides/round.png) center center / cover no-repeat;
    left: 5vh;
}
.bottom-slider-left-btn:before {
    content: "";
    background: url(/images/images_page1/slides/arrow-left.png) center center / cover no-repeat;
    position: absolute;
    width: 10px;
    height: 16px;
    top: 32%;
    left: 38%;
}