@import url(/css/normalize.css);

@font-face {
    src: url(/fonts/Pattaya-Regular.ttf);
    font-family: 'Pattaya-Regular';
}

.box {
    padding: 20px;
    box-sizing: border-box;
}

.to-rigth {
    margin: 0 0 0 auto;
}

.flex-box {
    display: flex;
}

.flex-vertical-bottom {
    align-items: flex-end;
}

.is-bold {
    font-weight: bold;
}

.word-break {
    word-break: break-all;
}

.ghost {
    opacity: 0.5;
    min-width: fit-content;
    font-size: 12px;
    font-family: arial;
}

.margin-left {
    margin-left: 10px;
}

.margin-rigth {
    margin-right: 10px;
}

.chat {
    display: flex;
    min-height: 100vh;
}

.chat-user {
    width: 30%;
    background: lightgray;
    border: 2px solid gray;
    box-sizing: border-box;
    padding: 10px;
}

.chat-message {
    width: 40%;
    font-family: 'Pattaya-Regular';
    color: red;
}

.chat-message-rigth {
    text-align: right;
}

.card {
    display: flex;
    width: 100%;
    background: darkblue;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.card-image {
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center center;
    border: 2px solid orange;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
}

.card-description-name {
    background: orange;
    color: darkblue;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 5px;
}

.card-description-text {
    color: white;
}

.user-form {
    width: 100%;
    margin: 10px 0;
}

textarea, 
input {
    width: 100%;
    border: 2px solid orange;
    box-sizing: border-box;
    margin-top: 10px;
}

.message {
    width: auto;
    max-width: 400px;
    background: rgb(77, 240, 240);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}